/* .admonition.note {
    background-color: #e7f4f9;
    border-left: 5px solid #17a2b8;
}

.admonition.tip {
    background-color: #e8f8e0;
    border-left: 5px solid #28a745;
}

.admonition.warning {
    background-color: #f9ebeb;
    border-left: 5px solid #893232;
}

.admonition.warning .admonition-title
{
    background-color: #f4c0c0;
    border-left: 5px solid #dc3545;
}

.admonition.caution {
    background-color: #f9ebeb;
    border-left: 5px solid #dc3545;
}

.admonition.attention {
    background-color: #fef7e0;
    border-left: 5px solid #ff9800;
}

.admonition.important {
    background-color: #f0e8ff;
    border-left: 5px solid #6f42c1;
}

.admonition.hint {
    background-color: #e0f7ff;
    border-left: 5px solid #007bff;
} */

.wy-side-nav-search,
.wy-side-nav-search .toctree-l1 > a .fa,
.wy-side-nav-search .toctree-l2 > a .fa,
.wy-side-nav-search .toctree-l3 > a .fa,
.wy-side-nav-search .toctree-l4 > a .fa,
.wy-side-nav-search .toctree-l5 > a .fa {
    color: #137a63;
    background-color: #137a63;
}

.wy-menu .caption-text {
    color: #137a63;
}

.toctree-expand::before {
    color: #137a63;
}

hr {
    border: 1px solid #137a63; /* Green color for horizontal line */
    margin-top: 1em; /* Add space above */
    margin-bottom: 1em; /* Add space below */
}

.separator_line {
    border: 1px solid lightgray;
    margin-bottom: 10px;
    opacity: 0.5;
}

.center_logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_logos img {
    width: 15rem;
}
